@charset "UTF-8";

/* common.css : 공통 */

/* a */

a:link {text-decoration: none;}
a:active {text-decoration: underline; color: pink;}
a:visited {text-decoration: none; color:gray;}
a:hover {text-decoration: none; background-color: #DDDCE0; color: 
#AB72EE;}
	
a {
	text-decoration: none;
	color:orange;
	font-weight: bold;
}

span.seperator {
	margin: 0 3px;
	font-size: 0.7em;
	color: navy;
}


/* page title */

/* logo image */



/* top_menu area */

div.top_menu {
	text-align: right;
}

div.top_menu a {
	text-decoration : none;
	font-size:11px;
}

/* ul, ol 목록 수평 배치 */
ul.menu_item_2, ol.menu_item_2 { 
	list-style: none;
	margin: 0px;
	padding: 0px;
	border-bottom: dotted 1px #efefef;
}

ul.menu_item_2 li, ol.menu_item_2 li {
	display:inline; 
	font-size: 9px;
	margin-right: 5px;
	border: solid 1px #efefef;
	padding: 5px;
	background-color: #EBB4F6;
}

ul.menu_item_2 li:before, ol.menu_item_2 li:before {
	content: "★ ";
}

/* ul, ol 아이템 목록 : 기존 property 제거 */
ul.menu_item_1, ol.menu_item_1 {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/* ul li, ol li 설정 #efefef*/
ul.menu_item_1 li, ol.menu_item_1 li {
	list-style: none;
	padding: 5px 0 5px 5px;
	margin-bottom: 5px;
	border-bottom: dotted 1px #efefef;
	font-size: 12px;
}

/* ul li, ol li 맨 마지막 항목은 밑줄 제거*/
ul.menu_item_1 li:last-child, ol.menu_item_1 li:last-child {
	border-bottom: 0px;
}

/* ul li, ol li 항목 앞에 > 아이콘으로 사용*/
ul.menu_item_1 li:before, ol.menu_item_1 li:before {
	content: "> ";
	display: inline-block;
	vertical-align: middle;
	padding: 0 5px 6px 0;
}

